*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/release
**/release/
/captures
.externalNativeBuild
.cxx
local.properties
CLAUDE.md
**/build/
*.apk

# VITeats Specific
*.har
.artifacts/
.kotlin/
*.jks
*.keystore
